.main {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 1000px;
  background-color: rgb(255, 255, 255);
}

.app-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.time-view {
  background-color: rgb(235, 199, 39);
  box-shadow: 2px 0px 4px rgb(183, 183, 183);
  width: 300px;
  padding: 0 10px;
}

.metrics-view {
  padding: 0 20px;
}

.title {
  font-size: 2em;
  font-weight: 600;
  margin: 8px 0 20px 0;
  width: 100%;
}

.time {
  font-size: 1.5em;
  font-weight: 600;
}

.time-diff {
  font-size: 1.2em;
}

.metrics {
  overflow: auto;
  max-height: 70vh;
  box-shadow: 1px 2px 6px rgb(156, 156, 156);
  padding: 20px;
  background-color: white
}

.loader-overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #64646445;
}

.loader {
    left: 45%;
    position: absolute;
    top: 30%;
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-top-color: #000000;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}